<a href="https://colab.research.google.com/github/vini1lol/Harvardx/blob/master/FinalProject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import time

from sklearn.model_selection import cross_val_predict
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

from sklearn.metrics import accuracy_score

import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings("ignore")

In [ ]:
start_time = time.time()
train_labels = pd.read_csv("/content/drive/My Drive/havardx/Using Python for Research/train_labels.csv")
train_time_series = pd.read_csv("/content/drive/My Drive/havardx/Using Python for Research/train_time_series.csv")

In [ ]:
train_labels.columns
train_labels.drop(columns=train_labels.columns[0],inplace= True)

In [ ]:
train_labels.head()

       timestamp                 UTC time  label
0  1565109931087  2019-08-06T16:45:31.087      1
1  1565109932090  2019-08-06T16:45:32.090      1
2  1565109933092  2019-08-06T16:45:33.092      1
3  1565109934094  2019-08-06T16:45:34.094      1
4  1565109935097  2019-08-06T16:45:35.097      1

In [ ]:
train_time_series.drop(columns=train_time_series.columns[0],inplace=True)

In [ ]:
train_time_series.head()

       timestamp                 UTC time  ...         y         z
0  1565109930787  2019-08-06T16:45:30.787  ... -0.934860 -0.069046
1  1565109930887  2019-08-06T16:45:30.887  ... -1.015442  0.089554
2  1565109930987  2019-08-06T16:45:30.987  ... -1.021255  0.178467
3  1565109931087  2019-08-06T16:45:31.087  ... -0.987701  0.068985
4  1565109931188  2019-08-06T16:45:31.188  ... -1.003616  0.126450

[5 rows x 6 columns]

In [ ]:
print(train_time_series.shape)
print(train_labels.shape)

(3744, 6)
(375, 3)

In [ ]:
l = []
j=0
for i in range(train_time_series.shape[0]):
  l.append(train_labels["label"][j])
  if i%10 == 0:
    j+=1
  if j == 375:
    j=374
train_time_series["label"] = l

In [ ]:
logistic_regression = LogisticRegression()
forest_classifier = RandomForestClassifier()

In [ ]:
def accuracy(estimator,X,y):
  predictions = estimator.fit(X,y).predict(X)
  return accuracy_score(y,predictions)

In [ ]:
X = train_time_series[["timestamp",'x','y','z']]
y = train_time_series["label"]

In [ ]:
accuracy(logistic_regression,X,y)

0.5689102564102564

In [ ]:
accuracy(forest_classifier,X,y)

0.999732905982906

In [ ]:
X_test = pd.read_csv("/content/drive/My Drive/havardx/Using Python for Research/test_time_series.csv")
y_test = pd.read_csv("/content/drive/My Drive/havardx/Using Python for Research/test_labels.csv")
X_test.drop(columns = X_test.columns[0],inplace=True)
y_test.drop(columns= y_test.columns[0], inplace=True)

In [ ]:
forest_classifier.fit(X,y)
X_test = X_test[["timestamp",'x','y','z']]
predictors = forest_classifier.predict(X_test)
j=0
for i in range(0,predictors.shape[0],10):
  y_test["label"][j] = round(predictors[i],0)
  j+=1
print("%s seconds"%(time.time()-start_time))
y_test

1.7504372596740723 seconds

         timestamp                 UTC time  label
0    1565110307041  2019-08-06T16:51:47.041    2.0
1    1565110308043  2019-08-06T16:51:48.043    2.0
2    1565110309046  2019-08-06T16:51:49.046    2.0
3    1565110310048  2019-08-06T16:51:50.048    2.0
4    1565110311050  2019-08-06T16:51:51.050    2.0
..             ...                      ...    ...
120  1565110427366  2019-08-06T16:53:47.366    2.0
121  1565110428369  2019-08-06T16:53:48.369    2.0
122  1565110429371  2019-08-06T16:53:49.371    2.0
123  1565110430373  2019-08-06T16:53:50.373    2.0
124  1565110431376  2019-08-06T16:53:51.376    2.0

[125 rows x 3 columns]

In [ ]:
y_test.to_csv("test_labels.csv")